* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
}

.container h1 {
  margin-bottom: 50px;
}

.container .travelingModes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 25px;
}

.container .travelingModes .type-of-trips {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .travelingModes .type-of-trips .trips {
  cursor: pointer;
}

.container .travelingModes .type-of-trips .trips span {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-trips .trips span.active {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-trips .trip-types {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 2px -4px 10px #ddd;
          box-shadow: 2px -4px 10px #ddd;
  border-radius: 6px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  display: none;
}

.container .travelingModes .type-of-trips .trip-types.active {
  display: block;
  z-index: 1;
}

.container .travelingModes .type-of-trips .trip-types span {
  width: 110px;
  font-size: 14px;
  display: block;
  padding: 10px 0 10px 15px;
  cursor: pointer;
}

.container .travelingModes .type-of-trips .trip-types span:hover {
  background-color: #e6ebef;
}

.container .travelingModes .type-of-trips .trip-types span.activeBg {
  background-color: #e6ebef;
  font-weight: bold;
}

.container .travelingModes .types-of-passengers .passengers {
  cursor: pointer;
}

.container .travelingModes .type-of-class .classes {
  cursor: pointer;
}

.container .travelingModes .type-of-class .classes span {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-class .classes span.active {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-class .class-types {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 2px -4px 10px #ddd;
          box-shadow: 2px -4px 10px #ddd;
  border-radius: 6px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  display: none;
}

.container .travelingModes .type-of-class .class-types.active {
  display: block;
  z-index: 1;
}

.container .travelingModes .type-of-class .class-types span {
  font-size: 14px;
  display: block;
  padding: 10px 10px 10px 15px;
  cursor: pointer;
}

.container .travelingModes .type-of-class .class-types span:hover {
  background-color: #e6ebef;
}

.container .travelingModes .type-of-class .class-types span.activeBg {
  background-color: #e6ebef;
  font-weight: bold;
}

.container .travelingModes .types-of-bags {
  cursor: pointer;
}

.container .search-component {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 4px;
  position: relative;
}

.container .search-component > *:not(.date) {
  background-color: #f0f3f5;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .search-component > *:not(.date) span i {
  font-size: 1.4rem;
}

.container .search-component .swap-btn {
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  outline: 4px solid white;
  position: absolute;
  right: 25px;
  top: 42px;
}

.container .search-component .swap-btn i {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.container .search-component .swap-btn i.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .search-component .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.container .search-component .date .date-div {
  width: 100%;
  background-color: #f0f3f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
}

.container .search-component .date .date-div span i {
  font-size: 1.4rem;
}

.container .search-component .date .date-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  outline: none;
  padding: 18px 5px;
  margin-left: 5px;
  background-color: transparent;
}

.container .search-component .from-input, .container .search-component .to-input {
  width: 90%;
  border: 0;
  outline: none;
  padding: 10px 5px;
  margin-left: 5px;
  background-color: transparent;
}

.container .search-component .search-div {
  background-color: #f85a13;
  color: white;
  font-weight: lighter;
  margin-top: 10px;
  border-radius: 5px;
}

.container .search-component .search-div label {
  padding: 8px 16px;
}

@media all and (max-width: 564px) {
  .container .search-component .date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */