*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// nav{
//     background-color: red;
//     ul{
//         margin: auto;
//         padding: 10px 15px;
//         li{
//             margin: 10px;
//             display: inline;
//             a{
//                 color: white;
//             }
//         }
//     }
// }
nav{
    background-color: red;
    ul{
        padding: 10px 15px;
    }
    li{
        margin: 10px;
        display: inline;
    }
    a{
        color: white;
    }
}