*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    overflow: hidden;
} */
.accordion-body .accordion h1{
    text-align: center;
    padding: 10px;
}
.accordion{
    width: 800px;
    margin: 90px auto;
}
.accordion .container{
    margin: 10px ;
}
.accordion .container .label{
    font-size: 25px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}
.accordion .container .label::after{
    content: '+';
    position: absolute;
    right: 0;
    font-size: 25px;
    transition: 0.3s;
}
.accordion .container.active .label::after{
    content: '-';
    font-size: 18px;
}
.close .content{
    height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transition: all 1000ms ease-out;
}
.open .content{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 400ms ease;
}
/* .accordion .container .content{
    font-size: 18px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in;
} */
/* .accordion .container.active .content{
    height: 150px;
} */
/* .accordion .container{
    position: relative;
    margin: 10px 10px;
}
.accordion .label{
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    cursor: pointer;
}
.accordion .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}
.accordion .content{
    position: relative;
    height: 0;
    font-size: 20px;
    width: 780px;
    overflow: hidden;
    transition: 0.5s;
}
.accordion hr{
    width: 100;
    margin-left: 0;
    border-left: 1px solid gray;
}
.accordion .container.active .content{
    height: 150px;
}
.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
} */