* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Radio Canada', sans-serif; */
}
html,
body {
  scroll-behavior: smooth;
  overflow:auto;
}
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgb(25, 145, 236);
  z-index: 200;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.loader.active {
  display: none;
}
.up {
  position: fixed;
  right: -40px;
  bottom: 20px;
  z-index: 100;
  border: 3px solid rgb(255, 122, 89);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: right 0.3s ease-in-out;
}
.up i {
  color: rgb(255, 122, 89);
  font-size: clamp(20px, 50%, 22px);
  animation: heart-beat 1.5s infinite linear;
}
@keyframes heart-beat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}
@media (any-pointer: fine) {
  .cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    width: 30px;
    aspect-ratio: 1/1;
    border: 2px solid rgb(255, 122, 89);
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: 5000000;
    transition: all 0.5s ease-out;
  }
  .cursor span {
    width: 5px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 114, 0);
    border-radius: 50%;
    display: block;
  }
}
.shadow {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  transition: box-shadow 0.3s ease-in-out;
}
header.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: box-shadow 0.3s ease-in-out;
}
.newyork-img img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}
.hero-section-content {
  position: absolute;
  left: 0;
  top: 25%;
}
.hero-section .logo {
  flex-grow: 0.75;
}
.hero-section-content button {
  background: rgb(242,109,34);
  font-size: 0.8rem;
  padding: 12px 16px;
  border-radius: 2px;
  transition: background 0.15s ease-in-out;
}
.hero-section-content button:hover {
  background: rgba(222,95,28) !important;
}
#progressbar-hoz {
  background-color: rgb(265, 13, 89);
  width: 100%;
  height: 4px;
}
.hero-section nav {
  flex-grow: 0.4;
}
.hero-section nav a {
  color: black;
  font-size: 0.95rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.hero-section nav a::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  left: 15%;
  /* top: -14px; */
  bottom: -12.5px;
  background-color: rgb(242, 109, 34);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}
.hero-section nav a:hover:before {
  transform: scale(1);
  transform-origin: left;
}
.hero-section nav a.active {
  color: rgb(242, 109, 34);
  transform-origin: right;
  transition: all 0.3s ease-in-out;
}
.hero-section nav a.active::before {
  transform: scale(1);
}
.hero-section .nav-scroller {
  /* height: 8.5vh; */
  height: 65px;
}
.hero-section2 p {
  font-size: 0.8rem;
}
.borders span:nth-of-type(1) {
  display: block;
  width: 50px;
  height: 4px;
  background-color: black;
}
.borders span:nth-of-type(2) {
  display: block;
  width: 50px;
  height: 4px;
  background-color: rgb(242, 109, 34);
}
.marketing p {
  font-size: 0.8rem;
}
.marketing i {
  /* box-shadow: 0 0 0 26px rgb(255, 114, 0); */
  color: white;
  background: rgb(255, 114, 0);
  width: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2.2rem;
}
.features-section .icons-row i {
  outline: 1px solid white;
  border-radius: 50%;
  width: 90px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
:is(.learn-more-btn, .purchase-theme-btn):hover {
  background-color: white !important;
  color: black !important;
  transition: all 0.3s ease-in-out;
}
/* #contents {
  position: absolute;
  display: none;
} */
#contents.active {
  display: block;
}
main :is(h6, p, hr) {
  margin: 0;
  padding: 0;
}
main p {
  font-size: 0.8rem;
  margin: 5px 0;
}
main li {
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}
main li i {
  opacity: 0.5;
}
main [social-media-icons] li {
  margin: 0;
  padding: 0;
}
main [social-media-icons] i {
  opacity: 1;
  font-size: 0.6rem;
  color: rgb(242, 109, 34);
}
.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.hero-section .fa-bars {
  cursor: pointer;
  font-size: 1.5rem;
}
ul.list-unstyled .fa-brands {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
ul.list-unstyled .fa-brands:hover {
  opacity: 0.8;
}
.slick-slider .slick-slider-dots{
  bottom: 0px;
  display: flex;
}
.slick-arrow {
  display: none !important;
}
.slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slick-slider .slick-dots li {
  display: grid;
  place-items: center;
  margin-right: 5px;
  margin: 0 4px;
  cursor: pointer;
}
.slick-slider .slick-dots button {
    background:gray;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
  }
.slick-dots li.slick-active button {
      background: rgb(242, 109, 34);
  }
footer {
  padding-bottom: 15px;
}
footer [social-media] i {
  font-size: 1.4rem;
}
footer [social-media] li:not(:last-of-type) {
  margin-right: 35px;
}
footer .form-control {
  color: white;
}
footer .form-control:focus {
  color: white;
}
footer [detail] li {
  opacity: 0.86;
}
footer .w-100 button {
  background: rgb(242,109,34);
  font-size: 0.8rem;
  padding: 12px 16px !important;
  border-radius: 2px;
  transition: background 0.15s ease-in-out;
}
footer .w-100 button:hover {
  background: rgba(222,95,28) !important;
}
footer .w-100 .input-group i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
@media all and (max-width: 565px) {
  .hero-section [icon] {
    font-size: 1.3rem;
  }
  .hero-section .logo img {
    width: 120px;
  }
  .hero-section nav a {
    font-size: 0.7rem;
  }
  .hero-section2 p {
    font-size: 0.7rem;
  }
  .marketing p {
    font-size: 0.7rem;
  }
  [section] p {
    font-size: 0.7rem;
  }
  #features :is(.learn-more-btn, .purchase-theme-btn) {
    font-size: 0.8rem !important;
  }
}
@media all and (max-width: 922px) {
  .hero-section .nav {
    flex-direction: column;
    position: absolute;
    left: 0%;
    text-align: center;
    top: 99.2%;
    background-color: hsl(0, 0%, 90%);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.3s ease-in-out; */
  }
  .hero-section .nav.active {
    max-height: 400px;
    overflow: auto;
    /* transition: max-height 0.3s ease-in-out; */
  }
  .hero-section nav a:hover:before {
    transform: rotate(90deg) scale(1);
    transform-origin: center;
  }
  .hero-section nav a::before {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg) scale(0);
    width: 25px;
    top: 50%;
    left: 34%;
    background-color: rgb(242, 109, 34);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  .hero-section nav a.active::before {
    transform: rotate(90deg) scale(1);
    transform-origin: center;
  }
  .hero-section .nav a:hover {
    background-color: hsl(0, 0%, 80%);
  }
  @media all and (min-width: 922px) {
    .hero-section .nav-scroller [menu-icon] {
      display: block !important;
    }
  }
}
@media all and (min-width: 922px) {
  .hero-section .nav-scroller [menu-icon] {
    display: none !important;
  }
}
@media all and (min-width: 992px) {
  .features-section h1 {
    text-align: left !important;
    margin-left: 25px;
  }
  .features-section .icons-row {
    display: grid !important;
    grid-auto-flow: column;
    align-items: center;
  }
  .features-section .icons-row :is(h4, p) {
    text-align: initial !important;
  }
}
