*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
    background-color: hsl(0, 100%, 20%);
    color: white;
    margin: 10px;
}
.btns{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    flex-wrap: wrap;
}
.btns > button {
    outline:none;
    border-radius: 10px;
    padding: 5px 10px;
}
input{
    display: block;
    margin: 0 auto 10px;
    outline: none;
    padding:10px;
    width: 300px;
}
#photos{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}