* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  border: 0.5px solid #e6ebef;
}

.search-div {
  background-color: #f85a13;
  color: white;
  font-weight: lighter;
  margin-top: 6px;
  border-radius: 5px;
  padding: 14px 16px;
  text-align: center;
  cursor: pointer;
}

.search-div:hover {
  background-color: #e35b0e;
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  width: 80%;
  margin: 100px auto 0;
}

.container h1 {
  margin-bottom: 50px;
}

.container .travelingModes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 25px;
}

.container .travelingModes .types {
  display: none;
}

.container .travelingModes .types.active {
  display: block;
}

.container .travelingModes .type-of-trips {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .travelingModes .type-of-trips .trips {
  cursor: pointer;
}

.container .travelingModes .type-of-trips .trips span {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-trips .trips span.active {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-trips .trip-types {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 2px -2px 15px #ddd;
          box-shadow: 2px -2px 15px #ddd;
  border-radius: 6px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  z-index: 3;
}

.container .travelingModes .type-of-trips .trip-types span {
  width: 110px;
  font-size: 14px;
  display: block;
  padding: 10px 0 10px 15px;
  cursor: pointer;
}

.container .travelingModes .type-of-trips .trip-types span:hover {
  background-color: #e6ebef;
}

.container .travelingModes .type-of-trips .trip-types span.activeBg {
  background-color: #e6ebef;
  font-weight: bold;
}

.container .travelingModes .types-of-passengers .passengers {
  cursor: pointer;
}

.container .travelingModes .types-of-passengers .passenger-types {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 2px -2px 15px #ddd;
          box-shadow: 2px -2px 15px #ddd;
  border-radius: 6px;
  padding: 32px;
  z-index: 3;
  line-height: 40px;
}

.container .travelingModes .types-of-passengers .passenger-types > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .travelingModes .types-of-passengers .passenger-types > * > *:first-child > span:nth-of-type(1) {
  font-size: 14px;
  color: #212a30;
}

.container .travelingModes .types-of-passengers .passenger-types > * > *:first-child > span:nth-of-type(2) {
  font-size: 12px;
  line-height: 16px;
  padding-left: 4px;
  padding-right: 24px;
  color: #9ba8b0;
}

.container .travelingModes .types-of-passengers .passenger-types > * > *:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container .travelingModes .types-of-passengers .passenger-types > * > *:nth-child(2) > span:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #9ba8b0;
  background: #fff;
  border-radius: 4px;
  padding: 0 !important;
  width: 20px;
  height: 20px;
  color: #079;
  cursor: pointer;
}

.container .travelingModes .types-of-passengers .passenger-types > * > *:nth-child(2) > span:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

.container .travelingModes .types-of-passengers .passenger-types > * > *:nth-child(2) > span:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #9ba8b0;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 !important;
  width: 20px;
  color: #079;
  height: 20px;
}

@media all and (max-width: 513px) {
  .container .travelingModes .types-of-passengers .passenger-types {
    left: 5%;
  }
}

.container .travelingModes .type-of-class .classes {
  cursor: pointer;
}

.container .travelingModes .type-of-class .classes span {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-class .classes span.active {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .travelingModes .type-of-class .class-types {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 2px -2px 15px #ddd;
          box-shadow: 2px -2px 15px #ddd;
  border-radius: 6px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  z-index: 3;
}

.container .travelingModes .type-of-class .class-types span {
  font-size: 14px;
  display: block;
  padding: 10px 10px 10px 15px;
  cursor: pointer;
}

.container .travelingModes .type-of-class .class-types span:hover {
  background-color: #e6ebef;
}

.container .travelingModes .type-of-class .class-types span.activeBg {
  background-color: #e6ebef;
  font-weight: bold;
}

.container .travelingModes .types-of-bags {
  cursor: pointer;
  position: relative;
}

.container .travelingModes .types-of-bags .bag-types {
  position: absolute;
  left: -60%;
  top: -100%;
  width: 316px;
  height: 174px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px #ddd;
          box-shadow: 2px 2px 10px #ddd;
  border-radius: 6px;
  padding: 33px;
  line-height: 40px;
  z-index: 3;
}

.container .travelingModes .types-of-bags .bag-types > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 66px;
}

.container .travelingModes .types-of-bags .bag-types [adjustment] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.container .travelingModes .types-of-bags .bag-types .bi-dash {
  width: 20px;
  height: 20px;
  background-color: white;
  color: #079;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px #ccc;
          box-shadow: 0px 0px 3px #ccc;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .travelingModes .types-of-bags .bag-types [readonly] {
  border: none;
  outline: none;
  width: 20px;
  text-align: center;
}

.container .travelingModes .types-of-bags .bag-types .bi-plus {
  width: 20px;
  height: 20px;
  background-color: white;
  color: #079;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px #ccc;
          box-shadow: 0px 0px 3px #ccc;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 478px) {
  .container .travelingModes .types-of-bags .bag-types {
    position: initial;
  }
}

.container .search_component {
  display: none;
}

.container .search_component.active {
  display: block;
}

.container .search_component .search-component {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 4px;
  position: relative;
  -webkit-animation: anime 500ms linear;
          animation: anime 500ms linear;
}

.container .search_component .search-component input::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.container .search_component .search-component input:-ms-input-placeholder {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.container .search_component .search-component input::-ms-input-placeholder {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.container .search_component .search-component input::placeholder {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.container .search_component .search-component .from-div,
.container .search_component .search-component .swap-btn,
.container .search_component .search-component .to-div,
.container .search_component .search-component .date-div,
.container .search_component .search-component .search-div,
.container .search_component .search-component .search-div label {
  cursor: pointer;
}

.container .search_component .search-component .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) {
  background-color: #f0f3f5;
  padding: 8px 0 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field {
  position: fixed;
  background-color: #fff;
  inset: 0;
  z-index: 5;
  -webkit-animation: anime 250ms linear;
          animation: anime 250ms linear;
  display: none;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field.active {
  display: block;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > *:first-child {
  padding: 20px 12px;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > *:first-child input {
  outline: none;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > *:first-child input::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: bolder;
  color: #86817a;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > *:first-child input:-ms-input-placeholder {
  font-size: 17px;
  font-weight: bolder;
  color: #86817a;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > *:first-child input::-ms-input-placeholder {
  font-size: 17px;
  font-weight: bolder;
  color: #86817a;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > *:first-child input::placeholder {
  font-size: 17px;
  font-weight: bolder;
  color: #86817a;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field > .fa-userr:hover {
  cursor: pointer;
  background-color: #e6ebef;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field .bi-globee {
  cursor: pointer;
  padding: 14px 16px;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field .bi-globee:hover {
  background-color: #079;
  color: #f0f3f5;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field .bi-globee:hover .fa-arrow-right {
  color: #f0f3f5;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field .bi-globee .bi-globe2 {
  margin-right: 15px;
  font-size: 24px;
  background-color: #079;
  color: #f0f3f5;
  padding: 5px 6px;
  border-radius: 5px;
}

.container .search_component .search-component .inputs > *:not(.swap-btn) .search-field .bi-globee .fa-arrow-right {
  color: #079;
  font-weight: bold;
  font-size: 22px;
}

@media all and (min-width: 1180px) {
  .container .search_component .search-component .inputs > *:not(.swap-btn) .search-field {
    position: absolute;
    width: 532px;
    height: 134px;
    border-radius: 2px;
    left: 0;
    top: 0;
    -webkit-box-shadow: 2px -2px 15px #ddd;
            box-shadow: 2px -2px 15px #ddd;
    z-index: 10;
  }
}

.container .search_component .search-component .inputs .swap-btn {
  background-color: #f0f3f5;
  width: 25px;
  height: 25px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  outline: 4px solid white;
  position: absolute;
  right: 25px;
  top: 42px;
  z-index: 2;
}

.container .search_component .search-component .inputs .swap-btn i {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.container .search_component .search-component .inputs .swap-btn i.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .search_component .search-component > *:not(.date) span i {
  font-size: 1.4rem;
}

.container .search_component .search-component .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}

.container .search_component .search-component .date > .date-div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 5px;
  height: 30px;
  background-color: #b3c1cb;
  z-index: 0;
}

.container .search_component .search-component .date .date-div {
  width: 100%;
  background-color: #f0f3f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
  z-index: 2;
}

.container .search_component .search-component .date .date-div span i {
  font-size: 1.4rem;
}

.container .search_component .search-component .date .date-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  outline: none;
  padding: 18px 5px;
  margin-left: 5px;
  background-color: transparent;
}

.container .search_component .search-component .from-input,
.container .search_component .search-component .to-input {
  width: 90%;
  border: 0;
  outline: none;
  padding: 10px 5px;
  margin-left: 5px;
  background-color: transparent;
}

@media all and (max-width: 564px) {
  .container .search_component .search-component .date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .search_component .search-component .date > .date-div:nth-of-type(1)::after {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1022px) {
  .container .search_component .search-component .inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .search_component .search-component .inputs > * {
    width: 100%;
  }
  .container .search_component .search-component .inputs .swap-btn {
    outline: none;
    position: initial;
    width: 100px;
    height: 100%;
    -webkit-transform: initial;
            transform: initial;
  }
  .container .search_component .search-component .inputs .swap-btn i {
    font-size: 1.4rem;
  }
}

@media all and (min-width: 1022px) {
  .container .search_component .search-component {
    grid-auto-flow: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .search_component .search-component .inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .search_component .search-component .inputs > *:not(.swap-btn) {
    width: 245px;
  }
  .container .search_component .search-component .inputs .swap-btn {
    outline: none;
    position: initial;
    width: 50px;
    height: 52px;
    -webkit-transform: initial;
            transform: initial;
  }
  .container .search_component .search-component .inputs .swap-btn i {
    font-size: 1.4rem;
  }
  .container .search_component .search-component .search-div {
    margin-top: 0;
    padding: 17px 20px;
  }
}

.container .search-component.one-way .date > .date-div:nth-of-type(1)::after {
  display: none;
}

.container .multi_city .multi-city {
  margin-bottom: 5px;
}

.container .multi_city .multi-city .date > .date-div:nth-of-type(1)::after {
  display: none;
}

.container .multi_city .multi-city .date .date-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .multi_city .multi-city .date .date-div > *:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .multi_city .multi-city .date .date-div #date-input {
  position: absolute;
  background: white;
  -webkit-box-shadow: 2px -2px 15px #ddd;
          box-shadow: 2px -2px 15px #ddd;
  border-radius: 5px;
  top: 0%;
  left: 0;
  padding: 10px;
  display: none;
}

.container .multi_city .multi-city .date .type-of-class {
  width: 100%;
}

.container .multi_city .multi-city .date .type-of-class .classes {
  background-color: #f0f3f5;
  padding: 18px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.container .multi_city .multi-city .date .type-of-class .class-types {
  width: 235px;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 2px -2px 15px #ddd;
          box-shadow: 2px -2px 15px #ddd;
  border-radius: 6px;
  -webkit-transform: translateY(-52px);
          transform: translateY(-52px);
  z-index: 3;
  -webkit-animation: anime 250ms linear;
          animation: anime 250ms linear;
  display: none;
}

.container .multi_city .multi-city .date .type-of-class .class-types.active {
  display: block;
}

.container .multi_city .multi-city .date .type-of-class .class-types span {
  font-size: 14px;
  display: block;
  padding: 10px 10px 10px 15px;
  cursor: pointer;
}

.container .multi_city .multi-city .date .type-of-class .class-types span:hover {
  background-color: #e6ebef;
}

.container .multi_city .multi-city .date .type-of-class .class-types span.activeBg {
  background-color: #e6ebef;
  font-weight: bold;
}

@media all and (min-width: 1022px) {
  .container .multi_city .multi-city .date .type-of-class .classes {
    width: calc(182px + 30px);
  }
}

.container .multi_city .multi-city .delete {
  background-color: #f0f3f5;
  padding: 2.7px 12px;
  border-radius: 5px;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
}

.container .multi_city .addsearchdiv {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .multi_city .addsearchdiv > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 165px;
}

.container .multi_city .addsearchdiv .search-div {
  margin-top: 0;
}

@media all and (max-width: 768px) {
  .container .multi_city .multi-city {
    margin-bottom: 16px;
  }
  .container .multi_city .multi-city .delete {
    padding: 0.7px 10px;
    font-size: 32px;
  }
  .container .multi_city .addsearchdiv {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    gap: 20px;
  }
  .container .multi_city .addsearchdiv > div:nth-of-type(1) {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .container .multi_city .addsearchdiv .search-div {
    width: 100%;
    padding: 12px 0;
  }
}

@media all and (max-width: 1024px) {
  .container .multi_city .multi-city {
    margin-bottom: 16px;
  }
  .container .multi_city .addsearchdiv {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */